# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Django
db.sqlite3
staticfiles/
media/

# Env & secrets
.env
.env.local
.env.*.local

# Vercel
.vercel/

# OS / editor
.DS_Store
.idea/
.vscode/
.vercel
.env*
